.echartsNode {
  position: relative;
  min-height: 120px;
  width: 100%;
}
.someInfo {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 15px;
  width: 400px;
  margin: 10px 30px 10px 20px;
  font-size: 14px;
}
.someInfo .unit {
  float: left;
}
.someInfo .allPeak {
  float: right;
  cursor: pointer;
}
.someInfo .allPeak .peakValue{
  z-index: 2;
  float: left;
  margin-left: 40px;
  color: rgb(172, 170, 170);
}
.someInfo .allPeak .peakValue:hover {
  color: rgb(67, 100, 172);
}
.legendUnder {
  margin-top: 20px;
  text-align: right;
  margin-right: 20px;
}
.legendUnder .point {
  display: inline-block;
  margin-right: 5px;
  border-radius: 10px;
  width: 9px;
  height: 9px;
}
